@charset "UTF-8";

a:hover { color:green; text-decoration:overline;}

body {


}

table {
			font-family: 'Cute Font', cursive;			
			border-collapse: collapse;
			width: 1200px;
			margin:auto;
		}
		th, td {
			padding: 10px;
			border-bottom: 1px solid #CD5C5C;
		}
		
tr:nth-first-child(1){background-color:gray;}		